results/*
*.pyc
all_*
*.pyc
/gower/__pycache__
/ksm/__pycache__
label_distribution_plot_cal500.png
emotions_explainability_case/emotionsexplain_0.9_kfold__a426e9fd-1c48-49cd-93e3-8ebf262bc4e9.txt
emotions_explainability_case/activations.csv
emotions_explainability_case/explanations.csv
/datasets
/gower/__pycache__
/gower/__pycache__
/ksm/__pycache__
*.pyc
explanations.csv
explanations_emotions_90.csv
explainall_emotions_0.9_params_kfold.csv
explainall_cal500_0.7_params_kfold.csv
attribute_distribution_plot_cal500.png
emotions_explainability_case/rules.csv
rules.csv
rules_emotions_90.csv
